<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/public/img/logo.png">
    <title>Uni Trier Rocks -.-</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153102749-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153102749-1');
</script>

    <style>

html,
body {
  height: 100%;
  background-color: #0080FF;
  overflow-x:hidden;
}

.box-container{
  background-color:white;
  margin-top: 5vh;
  padding: 20px;
  border: 2px;
  border-radius: 5px;
}

.fas{
  color:grey;
}


    </style>
  </head>
  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img height="50px" src="/public/img/logo.png" alt="logo.png" style="margin-left:20vw;"></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-right:20vw;">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dateien">Dateien</a>
      </li>


  </div>
</nav>


     <div class="container box-container">
       <div class="row">
         <h1 class="col-xl-4 col-md-6 text-right">Weiterleitungen</h1>
       </div>
       <div class="row">
                <p class="col-2"></p>
                <p class ="col-xl-4 col-md-6"><a href="https://p.uni-trier.rocks"> p.uni-trier.rocks </a><i class="fas fa-forward"></i>
                  <a href="https://porta-system.uni-trier.de">porta-system.uni-trier.de</a><p>
        </div>
        <div class="row">
          <p class="col-2"></p>
                 <p class ="col-xl-4 col-md-6"><a href="https://s.uni-trier.rocks"> s.uni-trier.rocks </a><i class="fas fa-forward"></i>
                   <a href="https://studip.uni-trier.de">studip.uni-trier.de</a><p>
         </div>
         <div class="row">
                  <p class="col-2"></p>
                  <p class ="col-xl-4 col-md-6"><a href="https://m.uni-trier.rocks"> m.uni-trier.rocks </a><i class="fas fa-forward"></i>
                    <a href="https://moodle.uni-trier.de">moodle.uni-trier.de</a><p>
          </div>
          <div class="row">
            <p class="col-2"></p>
                   <p class ="col-xl-4 col-md-6"><a href="https://o.uni-trier.rocks"> o.uni-trier.rocks </a><i class="fas fa-forward"></i>
                     <a href="https://owa.uni-trier.de">owa.uni-trier.de</a><p>
           </div>
     </div>

     <div class="container box-container">
    <% for(i in events){ %>

 		<div class="row">
 			<div class="col-3 text-right">
 				<h1 class="display-4"><span class="badge badge-<%= (events[i].event.prio=='low' ? 'secondary' : 'danger') %>"><%= events[i].date %></span></h1>
 				<h2><%= events[i].month %></h2>
 			</div>
 			<div class="col-8">
 				<h3 class="text-uppercase"><strong><%= events[i].event.task %></strong></h3>
 				<ul class="list-inline">
 				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= events[i].day %></li>

 					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Uni</li>
 				</ul>
 				<p><%= events[i].event.note %></p>
 			</div>
 		</div>
    <% } %>
 	</div>

  <div class="container box-container">
    <h3><i class="fab fa-github"></i> Der vollständige Quellcode dieser Seite lässt sich auf <a href="https://github.com/flowluap/uni-trier.rocks">Github</a> finden!</h3>
    <p>Sorry Mobile Support kommt die nächsten Tage :D</p>
  </div>

     <footer class="align-center">
       <div class="text-center">
         <p><a href="/impressum" class="text-white">Impressum</a></p>
         <p class="m-0 text-center text-white">Erstellt mit <a style="color:red; !important">❤️</a> durch <a class="text-white" href="https://flowluap.com">flowluap</a></p>
       </div>
     </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

  </body>
</html>
